::-webkit-scrollbar { 
    display: none; 
}


@keyframes colorWheel {
    0% {
      background-color: rgb(255, 188, 188);
    }
    17% {
      background-color: rgb(255, 255, 180);
    }
    34% {
      background-color: rgb(172, 255, 172);
    }
    51% {
      background-color: rgb(151, 255, 255);
    }
    68% {
      background-color: rgb(173, 173, 255);
    }
    85% {
      background-color: rgb(255, 163, 255);
    }
    100% {
      background-color: rgb(255, 188, 188);
    }
  }

.glamourTransition {
    background-color: rgb(255, 188, 188);
}

.glamourFadeOut {
    transition: background-color 0.5s;
}

.glamourBody {
    animation: colorWheel 15s infinite linear;
    transition: background-color 0.5s;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    transition: background-color 0.5s;
    
}

.portraitImage {
    border-radius: 8px;
    margin-top: 25px;
}

h1 {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
    margin-block-end: 0;
    width: 300px;
    text-align: center;
}

#title {
    font-size: 75px;
    margin-block-end: 0;
}

.spacer {
    height: 100px;
}

.scrollSpacer {
    margin-top: 30vh;
}

@media(max-height: 800px) {
    .scrollSpacer {
        display: none;
    }
    .mainbody {
        justify-content: center !important;
    }
}

.inPageNavigation {
    padding: 50px 0;
    position: absolute;
    top: 100vh;
    height: 200px;
}

.hint {
    text-align: center;
    font-style: italic;
    margin-block-start: 0;
}

li {
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    list-style-type: none;
    text-align: center;
}

ul {
    padding-left: 0;
}

a {
    color: maroon;
    text-decoration: none;
    transition: font-size 0.25s;
    font-size: 20px;
}
a:hover {
    text-decoration: none;
    font-size: 28px;
    transition: font-size 0.25s
}
a:visited {
    color: rgb(172, 63, 4);
}

a img {
    width: 25px;
    height: 40px;
    padding: 0 10px;
    padding-top: 3px;
    transition: width 0.2s;
}
a img:hover {
    width: 35px;
    transition: width 0.2s;
}

.navBarSpacer {
    height: 0;
    width: 80vw;
}

.glamourIconBox {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

#glamourIcon {
    width: 25px;
    transition: width 0.2s;
}

#glamourIcon:hover {
    width: 35px;
    transition: width 0.2s;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    height: 40px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #555;
    z-index: 15;
    display: flex;
    align-items: center;
}

.subheader {
    float: right;
    display: flex;
}

.resumeListHeading {
    font-weight: bold;
    font-style: normal;
}


.leftmenu {
    top: 160px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 10px;
    border-right: 1px solid #555;
}

.mainbody {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: absolute;
    justify-content: flex-end;
}

.rightmenu {
    top: 160px;
    right: 5px;
    width: 30vw;
    bottom: 39px;
    border-left: 1px solid #555;
    padding-left: 5px;
}

.footer {
    left: 5px;
    right: 5px;
    height: 25px;
    bottom: 5px;

    font-size: 8px;
    color: #999;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}