  .container {
    text-align: center;
    width: 80%;
    max-width: 800px;
    display: flex;
    justify-content: space-evenly;
  }

  @media(max-width: 700px) {
    #target-text, #typed-text {
      top: 200px !important;
      transition: top 0.5s cubic-bezier(0, 0.84, 0.23, 0.99);
    }
  }

  @keyframes colorWheel {
    0% {
      background-color: rgb(60, 0, 0);
    }
    17% {
      background-color: rgb(30, 30, 0);
    }
    34% {
      background-color: rgb(0, 60, 0);
    }
    51% {
      background-color: rgb(0, 30, 30);
    }
    68% {
      background-color: rgb(0, 0, 60);
    }
    85% {
      background-color: rgb(30, 0, 30);
    }
    100% {
      background-color: rgb(60, 0, 0);
    }
  }

.glamourTransition {
    background-color: rgb(60, 0, 0);
}

.glamourFadeOut {
    transition: background-color 0.5s;
}

.glamourBody {
    animation: colorWheel 15s infinite linear;
    transition: background-color 0.5s;
}

  body {
    background-color: black;
    color: white;
  }

  #activeToggle {
    position: fixed;
    bottom: 2vh;
    left: auto;
    display: flex;
    padding: 10px;
  }

  #activeToggleSwitch {
    margin-right: 10px;
  }

  #text-container {
    position: relative;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  #target-text {
    color: rgba(255, 255, 255, 0.5);
    right: 0;
    z-index: 1;
  }
  
  #typed-text {
    font-size: 28px;
    color: transparent;
    position: fixed;
    z-index: 2;
    background: none;
  }

  #typed-text, #target-text {
    top: calc(max(155px, 45vh - 200px));
    left: 15vw;
    width: 70vw;
    position: fixed;
    font-size: 28px;
    transition: top 0.5s cubic-bezier(0, 0.84, 0.23, 0.99);
  }
  
  #typed-text span {
    color: transparent;
  }

  #typed-text .correct {
    color: white;
  }
  
  #typed-text .wrong {
    color: red;
  }
  
  #input-box {
    width: 70vw;
    padding: 0;
    height: 45px;
    font-size: 28px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: none;
    color: transparent;
    position: fixed;
    top: 40vh;
    left: 15vw;
    text-align: start;
    z-index: 4;
  }

  #input-box:focus {
    border: none !important;
  }
  
  .stats {
    margin-top: 20px;
    font-size: 18px;
    position: fixed;
    top: calc(max(58vh, (80vh - 40vw + 100px)));
    left: 35vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: #ff79c6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff92d6;
  }
  